.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  font-size:16px;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.header nav li {
  margin-right: 20px;

}


.main-content {
  flex: 1;
  padding: 2em;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

.navbar-nav .nav-link, .navbar .navbar-brand {
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: gold;
}

.navbar .navbar-brand:hover {
  color: gold;
}



/* Mobile-first styles */

@media only screen and (max-width: 768px) {
  .header nav ul {
    flex-direction: column;
  }



  .about{
font-size:60%;
padding:1%;
}
}
/* Tablet devices (768px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /*.app-container {
       flex-direction: horizontal;
       min-height: 100vh;
       background:black;
}
       */
  /* Styles for tablet devices */
}

/* Desktop devices (1025px and above) */
@media only screen and (min-width: 1025px) {
  /* Styles for desktop devices */
  /*
  .app-container {
       flex-direction: horizontal;
       min-height: 100vh;
       background:#fff;
}
*/
}
.about{
background:red;
padding:15em;
text-align:center;
}
/*
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

*/

/* Unvisited link */
a:link {
  color: #337ab7; /* Blue */
  text-decoration: none;
}

/* Visited link */
a:visited {
  color: #23527c; /* Darker blue */
}

/* Hover effect */
a:hover {
  color: #23527c; /* Darker blue */
  text-decoration: underline;
}

/* Active link */
a:active {
  color: #337ab7; /* Blue */
}




